
<!DOCTYPE html>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TPTXS5');</script>
<!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Headline LGBT</title>
  <link rel="stylesheet" media="all" href="../css/style.css">
  <meta property="og:url" content="HeadlineLGBT">
  <meta property="og:type" content="article">
  <meta property="og:title" content="HeadlineLGBT">
  <meta property="og:description" content="Stay stylishly up-to-date with the latest news, hottest trends and updates in the LGBT community.">
  <meta property="og:image" content="http://www.headlinelgbt.com/apple-touch-icon-120x120.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@headlinelgbt">
  <meta name="twitter:url" content="headlinelgbt.com">
  <meta name="twitter:title" content="HeadlineLGBT">
  <meta name="twitter:description" content="Stay stylishly up-to-date with the latest news, hottest trends and updates in the LGBT community.">
  <meta name="twitter:image:src" content="http://www.headlinelgbt.com/apple-touch-icon-120x120.png">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<meta name="google-site-verification" content="zG5Z1kilIV3pe7YLK0TqSNyc3P8gNYrcKNiT91BYbwo" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script>
  <link rel="import" href="https://components.cloudstitch.com/cloudstitch-handlebars.html" />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />



  </head>
<body>
  <div id="modals-placeholder"></div>
  <div class="container infopage">
  <header class="col-xs-12 text-center infoheader thin">
    <h1><a href="http://www.headlinelgbt.com/"><img src="http://www.headlinelgbt.com/logo-inv.png"></a></h1>
  </header>
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 center-block">
    {{ content }}
  </div>
  
</div>
<div class="fullbg bgwhite">
  <blockquote class="container" role="alert">
    <div class="col-xs-12">
      <div class="col-xs-12 infoquotes nobg text-center">
        <h2>Here's what our subscribers say</h2>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>Headline LGBT is a great change of pace from stories that are shared on Twitter or Facebook. It's short, curated, and tends to provide an LGBT take on news and events.</i></p>
          <p class="author"><b>James Shelton</b></p>
        </aside>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>A diverse and well-selected range of stories.</i></p>
          <p class="author"><b>Robert Alexander</b></p>
        </aside>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>Headline LGBT knocks it out the park, giving the news at the right time, in an immediately relatable format.</i></p>
          <p class="author"><b>Michele Ridenour</b></p>
        </aside>
      </div>
    </div>
  </blockquote>
</div>

  <footer class="container">
    <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-7 nav nav-pills pull-left text-left footerleft">
      <li><a href="/about">ABOUT</a>
    </ul>
    <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-5 nav nav-pills pull-right text-right footerright">
      <li><a target="_blank" href="https://twitter.com/headline_lgbt"><i class="fa fa-twitter"></i></a></li>
    </ul>
</footer>


</body>
</html>
