<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HeadlineLGBT | Fun and fabulous news and highlights from the LGBT community</title>
  <link rel="stylesheet" media="all" href="../css/style.css">
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="LPs9LsXK46Vtv73CSDzgUdgBufIDygf2Dp19mTz39K0mOk2jSofIRoA7zDziMSfxORg9Qg/oXtsdbXsCc83S0A==">
  <meta property="og:url" content="HeadlineLGBT">
  <meta property="og:type" content="article">
  <meta property="og:title" content="HeadlineLGBT">
  <meta property="og:description" content="Fascinating news and highlights from around the LGBT Community">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@headlinelgbt">
  <meta name="twitter:url" content="headlinelgbt.com">
  <meta name="twitter:title" content="HeadlineLGBT">
  <meta name="twitter:description" content="Fascinating news and highlights from around the LGBT Community">
  <meta name="twitter:image:src" content="">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>
<body class="w_bannertop">
  <header class="fullbg headertop ">
    <div class="container h_general">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 logotop">
        <a class="list-logo" style="color: #fff;" href="/">@HEADLINELGBT</a>
      </div>
    </div>
  </header>
  <div id="modals-placeholder"></div>
  <div class="fullbg bgcartop">
  <div class="video-container">
    <video autoplay="autoplay" style="background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/03/27/22/lgbt-pride-flag.jpg);" src=""></video>
  </div>
  <div class="container text-center">
    <h2 style="font-family:'Oswald'">@HEADLINELGBT</h2>
    <p>Fun and fabulous news and highlights from the LGBT community</p>
    <form class="subscription-form list-show-header" action="/lists/sf/subscribe" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="LPs9LsXK46Vtv73CSDzgUdgBufIDygf2Dp19mTz39K0mOk2jSofIRoA7zDziMSfxORg9Qg/oXtsdbXsCc83S0A==">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 btn-susbcr inputmail"> 
      <i class="fa fa-envelope ico ico-env"></i>
      <input class="col-xs-12 txt_bigger orange pr140" placeholder="Your email" type="text" name="subscriber[email]" id="subscriber_email">
      <button type="submit" class="pull-right btnsend bgorange" data-disable-with="Subscribing ...">SUBSCRIBE</button>
    </div>
</form>  </div>
</div>
<div class="fullbg bginfohome posrelative">
  <div class="container infohome">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-1 p0">
      <h1>A bi-weekly hand-picked news roundup for LGBTs</h1>
      <div class="list-description">
        <p>From news and food to RuPaul and restaurants, all of us in the LGBT community could probably do a better job keeping up with what's happening around us.</p>

<p>That's why we created HeadlineLGBT. We tapped into all the community news organizations, blogs, Twitter accounts - and we bring you a bi-weekly roundup of the most interesting things we can find.</p>

<p>This isn't just skimming a Twitter feed, we are going DEEP and delivering a polished product with a daily dose of insights, dozens of links, summaries, and insights from the community</p>.

<p>We can't wait to hear what you think.</p>

      </div>
      <a class="linkorange" href="/lists/sf/recent_issues">SEE OUR LATEST ISSUE</a>
    </div>
    <div class="col-lg-6 col-md-6 screensite visible-lg">
      <img src="placehold.jpg" alt="Original placeit %281%29">
    </div>
  </div>
</div>
<div class="fullbg bgwhite">
  <blockquote class="container" role="alert">
    <div class="col-xs-12">
      <div class="col-xs-12 infoquotes nobg text-center">
        <h2>Here's what our subscribers say</h2>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>Headline LGBT is a great change of pace from stories that are shared on Twitter or Facebook. It's short, curated, and tends to provide an LGBT take on news and events.</i></p>
          <p class="author"><b>James Shelton</b></p>
        </aside>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>A diverse and well-selected range of stories.</i></p>
          <p class="author"><b>Robert Alexander</b></p>
        </aside>
        <aside class="col-lg-4 col-md-4 col-sm-4 col-xs-12 quote">
          <span class="ico_quote">“</span>
          <p class="txt_quote"><i>Headline LGBT knocks it out the park, giving the news at the right time, in an immediately relatable format.</i></p>
          <p class="author"><b>Michele Ridenour</b></p>
        </aside>
      </div>
    </div>
  </blockquote>
</div>
<div class="fullbg bgnaranja txtbgorgange dosuscribe">
  <div class="container text-center">
    <h2>It's totally free, hun. Why not try us on for size?</h2>
    <form class="subscription-form list-show-orange" action="/lists/sf/subscribe" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="LPs9LsXK46Vtv73CSDzgUdgBufIDygf2Dp19mTz39K0mOk2jSofIRoA7zDziMSfxORg9Qg/oXtsdbXsCc83S0A==">
    <div class="col-xs-12 btn-susbcr inputmail"> 
      <i class="fa fa-envelope icon"></i>
      <input class="col-xs-12 txt_bigger orange pr140" placeholder="Your email" type="text" name="subscriber[email]" id="subscriber_email">
      <button type="submit" class="pull-right btnsend bgorange" data-disable-with="Subscribing ...">SUBSCRIBE</button>
    </div>
</form>  </div>
</div>

  </section>
</div>
  <footer class="container">
    <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-7 nav nav-pills pull-left text-left footerleft">
      <li><a href="/recent-issues">RECENT ISSUES</a></li>
      <li><a href="/about">ABOUT</a>
    </li></ul>
    <ul class="col-lg-6 col-md-6 col-sm-6 col-xs-5 nav nav-pills pull-right text-right footerright">
      <li><a target="_blank" href="https://facebook.com/inside"><i class="fa fa-facebook-f"></i></a></li>
      <li><a target="_blank" href="https://twitter.com/inside"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </footer>


  
</body></html>